{% load static %}
<!DOCTYPE html>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

    body {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      margin: 0px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
</style>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ request.get_full_path }}">
        <base href="/">
        {% block head_extra %}
        {% endblock head_extra %}
        {% block styles %}
        {% endblock styles %}
    </head>
    <body>
        {% block navbar %}
            {% include "includes/navbar.html" %}
        {% endblock navbar %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
