{% extends "base.html" %}
{% load static %}
{% block title %} Gateways {% endblock %}
{% block head_extra %}
  <base href="{% url 'main:index' %}">
{% endblock %}

<body>
{% block content %}

    <h3>Gateways Data since {{ oldest_gateway }}</h3>


    <form method="POST" id="gateways-form">{% csrf_token %}
        <select name="tenant" id="tenant">
            {% for tenant in tenants %}
                <option value={{ tenant }}>{{ tenant }}</option> 
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary" name="tenants_gateways">View Tenant Gateway</button>
    </form>

    <table border=1 class="table">
        <thead>
            <tr>
                <th>Tenant</th>
                <th>Name</th>
                <th>URLs</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for gateway in gateways_data %}
                <tr>
                    <td>
                        {{ gateway.tenant }}
                    </td>
                    <td>
                        {{ gateway.name }}
                    </td>
                    <td>
                        {{ gateway.urls }}
                    </td>
                    <td>
                        {{ gateway.release_year }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>