<table border=1 class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Tenant</th>
            <th>Service</th>
            <th># of Calls</th>
        </tr>
    </thead>
    <tbody>
        {% for data in tapis_data %}
            <tr>
                <td>
                    {{ data.date }}
                </td>
                <td>
                    {{ data.start_time }}
                </td>
                <td>
                    {{ data.end_time }}
                </td>
                <td>
                    {{ data.tenant }}
                </td>
                <td>
                    {{ data.service }}
                </td>
                <td>
                    {{ data.count }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>