{% extends "base.html" %}
{% load static %}
{% block title %} Streams {% endblock %}
{% block head_extra %}
  <base href="{% url 'main:index' %}">
{% endblock %}

<body>
{% block content %}

    <h3>Tapis Streams Data</h3>

    <table border=1 class="table">
        <thead>
            <tr>
                <th>Tenant</th>
                <th>Streaming Data Collected (TB)</th>
                <th>Number of Data Streams</th>
                <th>Number of Archives</th>
            </tr>
        </thead>
        <tbody>
            {% for stream_data in streams_data %}
                <tr>
                    <td>
                        {{ stream_data.tenant }}
                    </td>
                    <td>
                        {{ stream_data.amount_data_streamed }} TB
                    </td>
                    <td>
                        {{ stream_data.number_data_streams }}
                    </td>
                    <td>
                        {{ stream_data.number_archives_registered }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>