{% extends "base.html" %}
{% load static %}
{% block title %} Tapis {% endblock %}
{% block head_extra %}
  <base href="{% url 'main:index' %}">
{% endblock %}

<body>
{% block content %}

    {% if tenant_queried == True %}
        <h3>Tapis Data for {{ tenant }}</h3>
    {% else %}
        <h3>Tapis Data</h3>
    {% endif %}
    

    <form method="POST" id="tapis-form">{% csrf_token %}
        <select name="tenant" id="tenant">
            {% for tenant in tenants %}
                <option value={{ tenant }}>{{ tenant }}</option> 
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary" name="tapis_tenant">View Tenant Tapis Data</button>
    </form>

    <h4>
        Number of Tokens: {{ num_tokens }}
    </h4>
    <h4>
        Number of Unique Users: {{ num_unique_users }}
    </h4>
    <h4>
        Number of Containerized Apps: {{ num_ctr_apps }}
    </h4>

{% endblock %}
</body>