.quick-links {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.quick-link {
    flex: 1;
    color: white;
    border-style: solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: 8px;
}

.quick-link:hover {
    background-color: rgba(191, 200, 209);
    color: black;
    border: 1px solid transparent;
    transition: background-color 0.5s;
}

.quick-link-logo {
    align-items: left;
    justify-content: left;
}

.quick-link-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 8px;
    height: 100%;
}

.quick-title {
    align-items: left;
    text-align: left;
    margin: 0;
}

.quick-desc {
    font-size: 12px;
}

.home {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: #1d1e22;
    color: white;
    height: 100%;
    box-sizing: border-box;
}

.home-section {
    display: flex;
    flex: 1;
    padding: 32px;
}

.home-title {
    margin: 0;
    padding: 32px 0;
    font-size: 48px;
}

.home-header {
    background-color: black;
    color: white;
    border-bottom: 1px solid black;
}

.logo {
    width: 48px;
    height: 48px;
}
